<nav class="navbar">
  <div class="navdiv">
    <div class="logo">
      <a routerLink="/">
        <i class="fas fa-tshirt"></i> Quick Store
      </a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/blog">Blog</a></li>
    </ul>
    <div class="search-container">
      <input type="text" placeholder="Search...">
    </div>
    <ul class="icons">
      <li><a routerLink="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
      <li><a routerLink="/wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
      <li><a routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</nav>
